In [1]:
import pandas as pd

df = pd.read_csv('dataset_Facebook.csv')
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

Category : This has Categoriacal data. Considering that it represents category for the post it is nominal.

Post Month, Weekday and Hour : These variables give the time the content was put on Facebook.

Paid : This is a binary data representing 0 when the post was not paid for promotion and 1 when it was paid for promotion.

Lifetime Post Total Reach : This represents the number of people who saw this post.

Lifetime Post Total Impressions : This represents the number of times the post was visible on the screen. The same post may appear more than once on someone's screen.

Lifetime Engaged Users : This reperesnts the clicks anywhere on the post by unique users.This is higher than Lifetime Post Consumers.

Lifetime Post Consumers : This is the unique number of users that clicked anywhere on the post. As this number is less than the previous variable surely it does not account to some clicks. ex. reply to a comment.

Lifetime Post Consumptions : This is the amount of clicks. One consumer might click more than once on the post. S/he may like and comment, etc.

Lifetime Post Impressions by people who have liked your Page : Number of times the post was visible on the screen of people who have liked the post.

Lifetime Post reach by people who like your Page : Unique users who saw the post and have liked the page.

Lifetime People who have liked your Page and engaged with your post : Engaged users who have liked the page.




Some questions that we might ask while understanding the factors that affect the performance or utility of the post :

1. What is our target, whether reaching more people, getting more consumptions/interactions or getting better response form the people it reaches ?
2. What purpose do photos and status serve?
3. Which category performs best?
4. What time is the most appropriate for posting content?
5. Whether paying for a post pays off ?

In this dataset the variables type, category, time of posting and payment for promotion are regressor variables. Rest of the variables are performance measures.




Lifetime post total reach gives an idea of the number of people who saw the post.

Lifetime post consumers and lifetime post engagers give an idea of how many people have engaged in the content. Compared to lifetime post engagers lifetime post consumers will serve our purpose better. A comment thread that is irrelevant to the content will also get counted as engagement. However post consumers will give an idea of relevant clicks to the content.

Post consumers - Total reach gives an idea of the people who saw the post but did not engage.

Post consumers/ Post total reach : This value will give an idea of how effective the post was. A value closer to 1 means effective and one closer to 0 will mean not very effective.

Total page likes gives the number of people associated with your content and want to see more of it.

Lifetime Post reach by people who like your Page will give the number of people to whom it reached.

Lifetime Post reach by people who like your Page / Total page likes will give an idea of how much content has reached the people who like the page. This will have value between 0 to 1

Lifetime Post reach by people who like your Page / Lifetime People who have liked your Page and engaged with your post will give an idea of how satisfied the people associated with your page are. This will have a value between 0 to 1.

In [2]:
#adding new features as response variables

df1 = df.loc[:,'Type': 'Paid']
df1['performance'] = df['Lifetime Post Consumers']/df['Lifetime Post Total Reach']
df1['satisfaction'] = df['Lifetime People who have liked your Page and engaged with your post']/df['Lifetime Post reach by people who like your Page']

In [3]:
#checking if the new featues are updated.

df1.head()

,Type,Category,Post Month,Post Weekday,Post Hour,Paid,performance,satisfaction
0,Photo,2,12,4,3,0.0,0.039608,0.072561
1,Status,2,12,3,10,0.0,0.130115,0.181283
2,Photo,3,12,3,3,0.0,0.046830,0.087824
3,Photo,2,12,2,10,1.0,0.015760,0.043248
4,Photo,2,12,2,3,0.0,0.056599,0.123750

In [4]:
#checking for missing values

df1.describe()

,Category,Post Month,Post Weekday,Post Hour,Paid,performance,satisfaction
count,500.000000,500.000000,500.000000,500.000000,499.000000,500.000000,500.000000
mean,1.880000,7.038000,4.150000,7.840000,0.278557,0.111553,0.127234
std,0.852675,3.307936,2.030701,4.368589,0.448739,0.081228,0.071494
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.004878,0.008929
25%,1.000000,4.000000,2.000000,3.000000,0.000000,0.045918,0.076525
50%,2.000000,7.000000,4.000000,9.000000,0.000000,0.102288,0.123771
75%,3.000000,10.000000,6.000000,11.000000,1.000000,0.149740,0.161054
max,3.000000,12.000000,7.000000,23.000000,1.000000,0.596639,0.498580

In [5]:
#removing the missing data

df1.dropna(axis='index',how='any',inplace =True)
df1.shape

(499, 8)

Type, Category, Post month, Post weekday, Post hour and Paid are all categorical variables. Moreover the variables are nominal. Hence we need to preproccess the data. Supposing that the company posts content every month, then we would like to analyse the appropriate time and weekday for performance of the post. So we can drop the post month column. For nominal data, One Hot Encoding is a method for preprocessing so that we can use the data for fitting models.

In [6]:
#removing the month column

df1 = df1.drop('Post Month',axis = 1)

In [7]:
#fixing the regressor and response variables

X = df1.loc[:,'Type':'Paid']
Y = df1.loc[:,'performance':'satisfaction']

In [8]:
#dividing the data into train and validation sets. 

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state = 0)

In [9]:
#Encoding the nominal data for fitting it to a decision tree. Usual algorithm works for ordinal data. 

from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(handle_unknown='ignore', sparse=False)

#using encoding on the data
EncX_train = pd.DataFrame(enc.fit_transform(X_train))
EncX_test = pd.DataFrame(enc.transform(X_test))

#putting back the index as encoding removes themm
EncX_train.index = X_train.index
EncX_test.index = X_test.index

In [10]:
#fitting regression tree with different depths to adjust overfitting and underfitting

from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

for i in range(2,16,2):
    model = DecisionTreeRegressor(min_samples_leaf=i, random_state=0)
    model.fit(EncX_train,Y_train)
    pred = model.predict(EncX_test)
    mae = mean_absolute_error(pred,Y_test)
    print(i,'model has error', mae )

2 model has error 0.06224003625662456
4 model has error 0.06175807454892815
6 model has error 0.058630421546208025
8 model has error 0.05834063241005969
10 model has error 0.05731665639903882
12 model has error 0.05650526816137545
14 model has error 0.056734497681616494

Model with minimum leaves 10 is giving the best results. We can use that to predict how a new post might work.

In [11]:
#fitting the model on the entire data and then check which posts work the best. 

EncX = pd.DataFrame(enc.fit_transform(X))

EncX.index = X.index

modelf = DecisionTreeRegressor(min_samples_leaf=10, random_state=0)
modelf.fit(EncX,Y)
Ypred = pd.DataFrame(modelf.predict(EncX))

In [12]:
df1 = pd.concat([df1,Ypred],axis=1)

In [13]:
df1

,Type,Category,Post Weekday,Post Hour,Paid,performance,satisfaction,0,1
0,Photo,2,4,3,0.0,0.039608,0.072561,0.099698,0.113654
1,Status,2,3,10,0.0,0.130115,0.181283,0.134051,0.163205
2,Photo,3,3,3,0.0,0.046830,0.087824,0.076194,0.107904
3,Photo,2,2,10,1.0,0.015760,0.043248,0.089792,0.131192
4,Photo,2,2,3,0.0,0.056599,0.123750,0.128196,0.141131
...,...,...,...,...,...,...,...,...,...
494,Photo,3,7,10,0.0,0.140000,0.130650,0.101945,0.125496
495,Photo,3,7,2,0.0,0.151153,0.136300,0.101945,0.125496
496,Photo,2,5,8,0.0,0.145977,0.143061,0.128651,0.148461
497,Photo,1,5,2,0.0,0.151403,0.152010,0.136475,0.131078
498,Photo,3,4,11,0.0,0.138114,0.150897,0.114132,0.150607

In [14]:
df1.sort_values(by=[0,1], inplace = True , ascending = False)

In [15]:
df1

,Type,Category,Post Weekday,Post Hour,Paid,performance,satisfaction,0,1
21,Photo,1,7,10,0.0,0.010838,0.012799,0.204996,0.199334
37,Photo,1,7,10,1.0,0.021414,0.090116,0.204996,0.199334
52,Photo,1,7,9,0.0,0.036984,0.090708,0.204996,0.199334
66,Photo,1,7,11,0.0,0.072592,0.098171,0.204996,0.199334
79,Photo,1,7,12,0.0,0.170485,0.185484,0.204996,0.199334
...,...,...,...,...,...,...,...,...,...
470,Link,1,3,13,0.0,0.040723,0.046336,0.022718,0.036906
477,Link,1,6,4,0.0,0.012525,0.020426,0.022718,0.036906
481,Link,1,4,4,1.0,0.012758,0.015510,0.022718,0.036906
485,Link,1,2,2,0.0,0.011416,0.014515,0.022718,0.036906
492,Link,1,5,11,0.0,0.014264,0.020522,0.022718,0.036906

Let's check the first 50 values for which the response is high.

In [16]:
df1.head(50)

,Type,Category,Post Weekday,Post Hour,Paid,performance,satisfaction,0,1
21,Photo,1,7,10,0.0,0.010838,0.012799,0.204996,0.199334
37,Photo,1,7,10,1.0,0.021414,0.090116,0.204996,0.199334
52,Photo,1,7,9,0.0,0.036984,0.090708,0.204996,0.199334
66,Photo,1,7,11,0.0,0.072592,0.098171,0.204996,0.199334
79,Photo,1,7,12,0.0,0.170485,0.185484,0.204996,0.199334
114,Photo,1,7,13,0.0,0.223618,0.224897,0.204996,0.199334
115,Photo,1,7,12,1.0,0.392374,0.402878,0.204996,0.199334
116,Photo,1,7,12,0.0,0.046262,0.054474,0.204996,0.199334
117,Photo,1,7,11,0.0,0.408779,0.403077,0.204996,0.199334
118,Photo,1,7,10,0.0,0.470024,0.498580,0.204996,0.199334
119,Photo,1,7,10,0.0,0.326972,0.336364,0.204996,0.199334
120,Photo,1,7,9,0.0,0.464041,0.454012,0.204996,0.199334
122,Photo,1,7,8,0.0,0.410339,0.420543,0.204996,0.199334
123,Photo,1,7,7,0.0,0.361426,0.366603,0.204996,0.199334
124,Photo,1,7,6,0.0,0.363368,0.343089,0.204996,0.199334
125,Photo,1,7,5,0.0,0.336780,0.337931,0.204996,0.199334
250,Photo,1,7,6,1.0,0.097469,0.090931,0.204996,0.199334
283,Photo,1,7,4,1.0,0.143079,0.115359,0.204996,0.199334
299,Photo,1,7,4,0.0,0.100192,0.085574,0.204996,0.199334
380,Photo,1,7,14,0.0,0.010995,0.030416,0.204996,0.199334
426,Photo,1,7,18,0.0,0.332481,0.244737,0.204996,0.199334
427,Photo,1,7,17,0.0,0.123478,0.122740,0.204996,0.199334
428,Photo,1,7,15,0.0,0.077553,0.076578,0.204996,0.199334
429,Photo,1,7,15,0.0,0.038176,0.037254,0.204996,0.199334
431,Photo,1,7,12,0.0,0.049585,0.048924,0.204996,0.199334
447,Photo,1,7,10,1.0,0.318560,0.121224,0.204996,0.199334
448,Photo,1,7,5,1.0,0.127025,0.088551,0.204996,0.199334
112,Photo,2,6,4,0.0,0.098023,0.151282,0.160385,0.160654
152,Photo,2,5,4,1.0,0.091712,0.139911,0.160385,0.160654
192,Photo,2,1,4,0.0,0.141176,0.142933,0.160385,0.160654
216,Photo,2,3,4,0.0,0.263910,0.278114,0.160385,0.160654
220,Photo,2,1,4,0.0,0.129921,0.135240,0.160385,0.160654
276,Photo,3,3,4,1.0,0.309154,0.243296,0.160385,0.160654
281,Photo,2,1,4,0.0,0.286277,0.224365,0.160385,0.160654
315,Photo,3,6,4,0.0,0.030100,0.052233,0.160385,0.160654
329,Photo,3,4,4,1.0,0.150546,0.163389,0.160385,0.160654
340,Photo,3,4,4,0.0,0.113437,0.146899,0.160385,0.160654
473,Photo,3,2,4,1.0,0.132361,0.121622,0.160385,0.160654
479,Photo,3,5,4,0.0,0.178005,0.128564,0.160385,0.160654
219,Photo,3,1,12,0.0,0.109990,0.136194,0.152025,0.131483
247,Photo,2,1,12,0.0,0.139306,0.138938,0.152025,0.131483
255,Photo,2,4,12,1.0,0.154053,0.139902,0.152025,0.131483
273,Photo,3,4,12,0.0,0.170942,0.167603,0.152025,0.131483
280,Photo,2,1,12,0.0,0.224159,0.173451,0.152025,0.131483
316,Photo,3,5,12,0.0,0.223871,0.159614,0.152025,0.131483
328,Photo,3,4,12,0.0,0.030302,0.055854,0.152025,0.131483
330,Photo,3,3,12,0.0,0.043204,0.080432,0.152025,0.131483
332,Photo,3,2,12,0.0,0.194260,0.153614,0.152025,0.131483
453,Photo,3,4,12,0.0,0.184927,0.098498,0.152025,0.131483
486,Photo,3,1,12,0.0,0.197259,0.142211,0.152025,0.131483

We'll consider the mode values of each variable to get an idea of which values give the best output.

In [17]:
df2 = df1.loc[:,'Type':'Paid']

In [18]:
df2.mode()

    Type  Category  Post Weekday  Post Hour  Paid
0  Photo         1             7          3   0.0

A post performs well if it is of category 1, Weekday 7 and posted at hour 3 and isn't paid.

In [19]:
df1.sort_values(by=[1], inplace = True , ascending = False)

In [20]:
df1.head(50)

,Type,Category,Post Weekday,Post Hour,Paid,performance,satisfaction,0,1
21,Photo,1,7,10,0.0,0.010838,0.012799,0.204996,0.199334
124,Photo,1,7,6,0.0,0.363368,0.343089,0.204996,0.199334
37,Photo,1,7,10,1.0,0.021414,0.090116,0.204996,0.199334
448,Photo,1,7,5,1.0,0.127025,0.088551,0.204996,0.199334
447,Photo,1,7,10,1.0,0.318560,0.121224,0.204996,0.199334
431,Photo,1,7,12,0.0,0.049585,0.048924,0.204996,0.199334
429,Photo,1,7,15,0.0,0.038176,0.037254,0.204996,0.199334
428,Photo,1,7,15,0.0,0.077553,0.076578,0.204996,0.199334
427,Photo,1,7,17,0.0,0.123478,0.122740,0.204996,0.199334
380,Photo,1,7,14,0.0,0.010995,0.030416,0.204996,0.199334
299,Photo,1,7,4,0.0,0.100192,0.085574,0.204996,0.199334
283,Photo,1,7,4,1.0,0.143079,0.115359,0.204996,0.199334
250,Photo,1,7,6,1.0,0.097469,0.090931,0.204996,0.199334
125,Photo,1,7,5,0.0,0.336780,0.337931,0.204996,0.199334
426,Photo,1,7,18,0.0,0.332481,0.244737,0.204996,0.199334
123,Photo,1,7,7,0.0,0.361426,0.366603,0.204996,0.199334
116,Photo,1,7,12,0.0,0.046262,0.054474,0.204996,0.199334
52,Photo,1,7,9,0.0,0.036984,0.090708,0.204996,0.199334
122,Photo,1,7,8,0.0,0.410339,0.420543,0.204996,0.199334
66,Photo,1,7,11,0.0,0.072592,0.098171,0.204996,0.199334
79,Photo,1,7,12,0.0,0.170485,0.185484,0.204996,0.199334
115,Photo,1,7,12,1.0,0.392374,0.402878,0.204996,0.199334
114,Photo,1,7,13,0.0,0.223618,0.224897,0.204996,0.199334
117,Photo,1,7,11,0.0,0.408779,0.403077,0.204996,0.199334
118,Photo,1,7,10,0.0,0.470024,0.498580,0.204996,0.199334
119,Photo,1,7,10,0.0,0.326972,0.336364,0.204996,0.199334
120,Photo,1,7,9,0.0,0.464041,0.454012,0.204996,0.199334
225,Status,2,5,14,0.0,0.181812,0.195698,0.134051,0.163205
175,Status,2,6,10,1.0,0.195521,0.228890,0.134051,0.163205
180,Status,2,4,4,1.0,0.153113,0.187676,0.134051,0.163205
202,Status,2,3,2,1.0,0.122347,0.136421,0.134051,0.163205
217,Status,2,2,12,0.0,0.019828,0.020703,0.134051,0.163205
223,Status,2,6,10,1.0,0.160849,0.186371,0.134051,0.163205
275,Status,2,3,13,0.0,0.200983,0.221180,0.134051,0.163205
232,Status,2,2,6,1.0,0.011641,0.012134,0.134051,0.163205
242,Status,2,4,6,0.0,0.141014,0.161441,0.134051,0.163205
253,Status,2,5,12,1.0,0.149397,0.169649,0.134051,0.163205
267,Status,2,5,10,0.0,0.141441,0.163425,0.134051,0.163205
285,Status,2,6,4,0.0,0.097705,0.113891,0.134051,0.163205
163,Status,2,6,4,0.0,0.155371,0.197537,0.134051,0.163205
172,Status,2,1,10,0.0,0.223654,0.245452,0.134051,0.163205
15,Status,2,3,10,0.0,0.120179,0.135938,0.134051,0.163205
142,Status,2,3,2,1.0,0.190583,0.242465,0.134051,0.163205
141,Status,3,3,10,0.0,0.185371,0.221595,0.134051,0.163205
138,Status,2,5,3,0.0,0.160297,0.184046,0.134051,0.163205
107,Status,2,1,4,0.0,0.108586,0.128808,0.134051,0.163205
98,Status,2,5,3,1.0,0.157684,0.217522,0.134051,0.163205
84,Status,3,5,2,0.0,0.016139,0.046763,0.134051,0.163205
72,Status,3,4,11,0.0,0.093529,0.142857,0.134051,0.163205
40,Status,2,6,11,0.0,0.143976,0.183647,0.134051,0.163205

In [21]:
df3 = df1.loc[:,'Type':'Paid']
df3.mode()

    Type  Category  Post Weekday  Post Hour  Paid
0  Photo         1             7          3   0.0

The post gets a better response from the exisiting followers if it is of the type photo and not paid.

In [24]:
from sklearn.ensemble import RandomForestRegressor

model2 = RandomForestRegressor(n_estimators=100, random_state=0)
model2.fit(EncX_train, Y_train)
pred = model.predict(EncX_test)
mae = mean_absolute_error(pred,Y_test)
print('model has error', mae )

model has error 0.056734497681616494

Random Forests don't give a better mean absolute error.